<!DOCTYPE html>
<html>
    {% include 'testing/include/header.html' with title=title %}
	<body>
		<div class="container">
			{% include 'testing/include/navigation.html' with title=title %}
            <h2 class="second">作者列表(一对一反向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>作者姓名</td>
                    <td>作者昵称</td>
                    <td>真实姓名</td>
                    <td>文章数量</td>
                    <td>作者等级</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">作者列表(一对一反向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>作者姓名</td>
                    <td>作者昵称</td>
                    <td>真实姓名</td>
                    <td>文章数量</td>
                    <td>作者等级</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">作者列表(一对一正向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>作者姓名</td>
                    <td>作者昵称</td>
                    <td>真实姓名</td>
                    <td>文章数量</td>
                    <td>作者等级</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">作者列表(一对一正向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>作者姓名</td>
                    <td>作者昵称</td>
                    <td>真实姓名</td>
                    <td>文章数量</td>
                    <td>作者等级</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
		</div>
	</body>
</html>